@font-face {
    font-family: 'HYWenHei 85W';
    font-style: normal;
    font-weight: normal;
    src: local('HYWenHei 85W'), url('./public/zhcn.woff') format('woff');
    }


body {
    margin: 0;
    font-family: "HYWenHei 85W";
    color: white;
    text-shadow: 2px 2px 2px hsl(352, 50%, 35%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to-bottom, rgba(10, 10, 10, 15%), rgba(0, 0, 0, 0%))
}

img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index:-1;
    object-fit: cover;
}

a{
    color:white;
}


ul{
    display: flex;
    flex-direction: column;
    
}

li{
    margin: 10px 0;
}
ul li::marker{
    color: purple;
}